<!DOCTYPE html>
<html lang="es">
    <script type="text/javascript">
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        // files is a FileList of File objects. List some properties.
        var output = [];
        for (var i = 0, f; f = files[i]; i++) {
            output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                              f.size, ' bytes, last modified: ',
                              f.lastModifiedDate.toLocaleDateString(), '</li>');
        }
        document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
    }

    document.getElementById('files').addEventListener('change', handleFileSelect, false);

        function validar() {
          //obteniendo el valor que se puso en el campo text del formulario
          var fileNameForm = document.getElementById("fileName").value;
          var imgVal = document.getElementById("files").value;
          //la condición
          if (fileNameForm.length == 0 || /^\s+$/.test(fileNameForm)) {
            alert('El campo de fileName esta vacío!');
          return false;
          }
          
          if(imgVal==''){
            alert("Archivo no ha sido cargado");
            return false; 
          }                      
          return true;
        }
    </script>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Formulario Guardar Imagen | Scrum Latam</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/master.css') }}">
    </head>
    <body>
        <div class="login-box">
            <img src="https://i.imgur.com/li9HQhv.jpg" class="avatar" alt="Avatar Image">
            
            <form name ="formularioImg" class="formularioTipo1" method="POST" action="{{url_for('procesarImg')}}" enctype=multipart/form-data onsubmit="return validar()">
              <strong>Bienvenido: </strong>{{username}}
              <br>
              <br>
              <!-- Choose INPUT -->
              <label for="Choose">Choose the image to upload: *</label>
              <br>
              <input type="file" id="files" accept="image/png, image/jpeg" name="files"/>
              <output id="list" name="list"></output>
              <!-- PASSWORD INPUT -->
              <label for="fileNameL">Filename *</label>
              <br>
              <input id="fileName" name="fileName" type="fileName" placeholder="Enter filename">
              <input id="submit" type="submit" value="Upload">
              <!--<a href="#">Lost your Password?</a><br>
              <a href="#">Don't have An account?</a> Futura implementación
              -->
            </form>
          </div>
    </body>
</html>