<!DOCTYPE html>
<html>
  <script type="text/javascript">
    function validar() {
      //obteniendo el valor que se puso en el campo text del formulario
      var usernameForm = document.getElementById("Username").value;
      var passwordForm = document.getElementById("Password").value;
      //la condición
      if (usernameForm.length == 0 || /^\s+$/.test(usernameForm)) {
        alert('El campo de Username esta vacío!');
      return false;
      }
      if (passwordForm.length == 0 || /^\s+$/.test(passwordForm)) {
        alert('El campo de Password esta vacío!');
      return false;
      }
      return true;
    }
  </script>
  <head>
    <meta charset="utf-8">
    <title>Community Login Form | Scrum Latam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/master.css') }}">
  </head>
  <body>    
    <div class="login-box">
      <img src="https://i.imgur.com/li9HQhv.jpg" class="avatar" alt="Avatar Image">
      <h1>Login Here</h1>
      <form name ="formularioLogin" class="formularioTipo1" method="POST" action="{{url_for('procesar')}}" onsubmit="return validar()">
        <!-- USERNAME INPUT -->
        <label for="usernameL">Username *</label>
        <input id="Username" name="username" type="text" placeholder="Enter Username">
        <!-- PASSWORD INPUT -->
        <label for="passwordL">Password *</label>
        <input id="Password" name="password" type="password" placeholder="Enter Password">
        <input id="submit" type="submit" value="Log In">
        <!--<a href="#">Lost your Password?</a><br>
        <a href="#">Don't have An account?</a> Futura implementación
        -->
      </form>
    </div>
  </body>
</html>
