<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Image Upload | Scrum Latam</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/master.css') }}">
    </head>
    <body>
        <div class="login-box">
            <img src="static/img/logo.png" class="avatar" alt="Avatar Image">
            <strong>Image upload</strong>
            <br>
        </div>
    </body>
</html>